// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "scss/sb-admin-2";

@import "./dataTables.bootstrap4.min.css";

@import "~bootstrap4-toggle/css/bootstrap4-toggle.min.css";

@import "~select2/dist/css/select2.css";

@import "~bootstrap-vue/dist/bootstrap-vue.css";

.invalid-feedback {
    display: block;
}

.form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}

.btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
}

.select2-container {
    width: 100% !important;
}

.spinner {
    position: relative;
    z-index: 999;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

[v-cloak] .v-cloak--hidden {
    display: none !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    text-align: center;
}

.select2-container--default .select2-selection--single {
    height: 37px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
