<template>
    <div class="card shadow mb-4">
        <div class="card-header py-3 clearfix">
            <p class="m-0 font-weight-bold text-primary d-sm-flex align-items-center justify-content-between">
                Journal
                <a href="/diary-book/create" class="btn btn-primary pull-right text-right"><i class="fas fa-plus"></i></a>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'journal'
    }
</script>